.kt-subheader{
    margin: 30px 0!important;
}
.toast-warning{
    background-color: #efa200;
}

.table-responsive{
    overflow-x: visible !important;
    overflow-y: auto;
}
table{
    white-space: nowrap;
}
.table th, .table td{
    vertical-align: middle;
}

.hidden{
    display: none;
}
.col-form-label{
    padding-right: 20px;
}
.toast-title{
    font-weight: bold!important;
    color: #FFF!important;
}
.select2{
    width: 100%!important;
}
.help_info{
    background: #dfe7ff;
    margin-top: 4px;
    padding: 4px;
    border-radius: 3px;
}
